.nav-right {
    margin-right: 65px;
}

.main-about {
    height: 100%;
}

.main-container {
    display: flex;
    margin: 0 60px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0 100px 0;
    margin: 0 60px;
    font-size: 20px;
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 70%;
}

p {
    font-size: 20px;  
}

.main-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-bottom: 100px;
}

.main-right img {
    border-radius: 10px;
    height: 103%;
    width: 95%;
}

.submit-btn {
    height: 15%;
    width: 45%;
    height: 280%;
    border-radius: 100px;
    background-color: rgb(42, 59, 73);
    color: #7fffd4;
    letter-spacing: 1px;
    border: none;
    font-size: 250%;
    cursor: pointer;
}