* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("/assets/homepage.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;

}

.nav-right {
    display: flex;
    justify-content: flex-end;
}

.container {
    position: relative;
    text-align: center;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}