* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav {
    display: flex;

}

.nav-right {
    display: flex;
    justify-content: flex-end;
}

.container {
    position: relative;
    height: 100%;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}


.bottom-left {
    height: 45%;
    width: 45%;
    font-size: 170%;
    padding: 42px;
    border-radius: 100px 100px 100px 5px;
    background-color: #36454f;
    color: white;
    position: absolute;
    bottom: 0px;
}

.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 15%;
    width: 30%;
    border-radius: 100px;
    background-color: transparent;
    color: #7fffd4;
    letter-spacing: 1px;
    border: 2px solid #7fffd4;
    font-size: 250%;
}