* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*NAV BAR*/
nav {
    display: flex;
    background-color:rgb(42, 59, 73);
    justify-content: space-between;
    padding: 5px;
}

.nav-left {
    font-size: 200%;
    margin-left: 15px;
}

.nav-left a {
    color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-right {
    margin-right: 15px;
    padding-top: 10px;
    display: flex;
    gap: 50px;
}

.nav-right a {
    text-decoration: none;
    color: white;
}

/*MAIN CONTAINER*/
.container {
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.index-container img {
    min-height: 100vh;
    width: 100%;
}

.bottom-left {
    font-size: 28px;
    height: 50%;
    width: 45%;
    padding: 62px;
    border-radius: 100px 100px 100px 5px;
    background-color: rgb(42, 59, 73);
    color: white;
    position: absolute;
    top: 660px;
    bottom: 0px;
}

/*SUBMIT BTN STYLING*/
.bottom-right {
    position: absolute;
    top: 880px;
    right: 30px;
    height: 15%;
    width: 30%;
    border-radius: 100px;
    background-color: transparent;
    color: #7fffd4;
    letter-spacing: 1px;
    border: 2px solid #7fffd4;
    font-size: 250%;
    cursor: pointer;
}


/*MEDIA QUERY STYLING*/
@media (max-width: 768px) {
    .bottom-left {
        font-size: 16px;
        top: 510px;
    }

    .bottom-right {
        font-size: 20px;
        height: 70px;
    }
}

@media (max-width: 425px) {
    .bottom-left {
        font-size: 10px;
    }

    .bottom-right {
        font-size: 12px;
        height: 50px;
    }

    .bottom-left {
        top: 515px;
    }
}